.video-wrapper{
width:100%;
height:fit-content;
display:flex;
align-items:center;
justify-content:center;
background:pink;
}

.youtube-player{
width:70vw;
height:35vw;
transform: scale(1);
}

.youtube-player iframe{
width:100%;
height:100%;
border:none;
}